[Unit]
Description=Backup Service for ngosangns-drive
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/root/git/ngosangns-drive
ExecStart=/root/.nvm/versions/node/v21.6.2/bin/node server-backup.js
User=root

[Install]
WantedBy=multi-user.target
