<div class="h-screen p-6 pl-3 overflow-x-hidden overflow-y-auto">
  <mat-card>
    <mat-card-content>
      <div class="flex justify-between mb-4">
        <button mat-raised-button color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon> Add Remote
        </button>
      </div>

      <table mat-table [dataSource]="appService.remotes$ | async" class="w-full">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let remote">{{ remote.name }}</td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let remote">{{ remote.type }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="w-24 text-right">Action</th>
          <td mat-cell *matCellDef="let remote" class="text-right">
            <button mat-icon-button color="warn" (click)="openDeleteDialog(remote)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'type', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'type', 'actions'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>