<div
  class="fixed top-0 left-0 w-screen min-h-screen overflow-hidden grid bg-gray-900 gap-4 p-4"
  style="grid-template-columns: max-content 1fr"
>
  <div class="p-[1rem]">
    <div class="mt-[3rem] w-full flex justify-center flex-col gap-2">
      <button
        class="text-black bg-white px-2 py-1"
        [ngClass]="{ underline: currentAction === Action.Pull }"
        (click)="currentAction !== Action.Pull ? pullClick() : stopCommand()"
      >
        {{ currentAction === Action.Pull ? "Stop" : "Pull" }}
      </button>
      <button
        class="text-black bg-white px-2 py-1"
        [ngClass]="{ underline: currentAction === Action.Push }"
        (click)="currentAction !== Action.Push ? pushClick() : stopCommand()"
      >
        {{ currentAction === Action.Push ? "Stop" : "Push" }}
      </button>
      <button
        class="text-black bg-white px-2 py-1"
        [ngClass]="{ underline: currentAction === Action.Bi }"
        (click)="currentAction !== Action.Bi ? biClick() : stopCommand()"
      >
        {{ currentAction === Action.Bi ? "Stop" : "Sync" }}
      </button>
    </div>
  </div>
  <code class="min-w-full overflow-hidden text-white">
    <pre class="text-md" *ngIf="data.length > 0">{{ data.join("\n") }}</pre>
  </code>
</div>
