<mat-sidenav-container class="h-screen">
  <mat-sidenav mode="side" opened class="bg-gray-900 w-48 p-0">
    <mat-toolbar color="primary" class="flex flex-col items-center">
      <h1 class="text-3xl font-bold select-none cursor-default">Drive</h1>
    </mat-toolbar>
    <div class="p-3 flex flex-col gap-3">
      <button mat-button (click)="openHome()" [color]="(tab$ | async) === 'home' ? 'accent' : ''"
        class="w-full text-left">
        <mat-icon>home</mat-icon> Home
      </button>
      <button mat-button (click)="openProfiles()" [color]="(tab$ | async) === 'profiles' ? 'accent' : ''"
        class="w-full text-left">
        <mat-icon>settings</mat-icon> Profiles
      </button>
      <button mat-button (click)="openRemotes()" [color]="(tab$ | async) === 'remotes' ? 'accent' : ''"
        class="w-full text-left">
        <mat-icon>cloud</mat-icon> Remotes
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-gray-900">
    <div [ngSwitch]="tab$ | async">
      <app-home *ngSwitchCase="'home'"></app-home>
      <app-profiles *ngSwitchCase="'profiles'"></app-profiles>
      <app-remotes *ngSwitchCase="'remotes'"></app-remotes>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>